
body {
  font-family: 'Arial', sans-serif;
  background-color: #eb8787; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5em;
}

.question-summary {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
  display: block;
  text-align: left;
  width: 100%;
}

li:hover {
  background: #f1f1f1;
}

.most-selected {
  font-weight: bold;
  color: #ce4949f5;
}

button {
  display:block;
  background-color: #d14848;
  padding: 7px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e24040;
}



@media (max-width: 600px) {
  .container{
    padding: 1em;
    margin: 5px;
  }

  h1{
    font-size: 1.5em;
  }

  li{
    font-size: 0.9em;
    padding: 0.4em;
  }

  button {
    font-size: 1em;
  }

}