{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Django Survey By SurveyParrots</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'stylesmain.css' %}">
</head>

<body>

<div class="container">
  <h1>Django Survey By SurveyParrots</h1><br>
  <form action="{% url 'polls:submit4' %}" method="post">
    {% csrf_token %}
    {% for question in questions %}
    <fieldset>
      <legend> {{question.question_text}}</legend>
      {% for choice in question.choice_set.all %}
      <label>
        <input type="radio" name="question_{{ question.id}}" value="{{ choice.id }}" required>
        {{choice.choice_text}}
      </label><br>
      {% endfor %}
    </fieldset>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
</div>
</body>

</html>