{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Thank You Part 3!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_thankyou.css' %}">
</head>
<body>
<div class="container">
    <h1>Answers for Part 4 submitted</h1>
    {% for response_summary in responses_summary %}
    <div class="question-summary">
        <h4>{{ response_summary.question.question_text }}</h4>
        <ul>
            {% for choice_text, count in response_summary.response_count.items %}
            {% if choice_text == response_summary.most_selected_choice_text %}
            <li class="most-selected">{{ choice_text }}: {{ count }}</li>
            {% else %}
            <li>{{ choice_text }}: {{ count }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <button onclick="window.location.href='{% url 'polls:questions5' %}'">Next</button>
</div>
</body>
</html>
